html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include partials/header
        main
            block content
    include partials/footer.pug 
    script(src="/static/js/main.js")
    block scripts
    script(src="https://kit.fontawesome.com/7e06f7a03e.js" crossorigin="anonymous") 